body{
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
}
.option{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background-color: black;
    border: 5px dashed white;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.option:hover{
    transform: scale(0.8,0.8) ;
}
img{
    height: 100px;
}
.user{
    text-align: center;
    margin-left: 100px;
}
.scoredisplay{
    border: 6px solid white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}
.scoreboard{
    text-align: center;
}
.rstbut, .auto{
    text-align: center;
    margin-top: 40px;
}
.buttonreset, .autobut{
    background-color: lightgray;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    height: 100px;
    width: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    transition: 0.5s;
}
.buttonreset:hover, .autobut:hover{
    transform: scale(0.85,0.85);
}